<!-- templates/registration/password_reset_form.html -->

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Reset de Senha</title>
</head>
<body>
    <h2>Reset de Senha</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Enviar Email de Reset</button>
    </form>
    <a href="{% url 'login' %}">Voltar para o Login</a>
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>
